<head><link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<section id="footer">
  <hr class="solid">

<section id="container">
  <div class="summary">
    <img src="https://i.imgur.com/QjV3sXZ.png">
    <p>Explore o mundo das criptomoedas conosco! Notícias, análises de mercado, guias de investimento<br> e tudo mais que você precisa para dominaro universo das moedas digitais. Junte-se à comunidade e <br>embarque na jornada rumo ao futuro financeiro.</p>
  </div>
  
  <div class="list-links">
    <ul>
      <li class="tittle">Recursos</li>
      <li>Perpétuos</li>
      <li>Notícias de Cripto</li>
      <li>Tesouraria de Bitcoin</li>
      <li>Mapa de Calor de Cripto</li>
    </ul>

    <ul>
      <li class="tittle">Donativos</li>
      <li>Bitcoin</li>
      <li>Ethereum</li>
      <li>Mooncoin</li>
    </ul>

    <ul>
      <li class="tittle">Comunidade</li>
      <li>X</li>
      <li>Telegram</li>
      <li>Instagram</li>
      <li>Reddit</li>
    </ul>
  </div>
</section>

<hr class="solid-2">

<div class="newsletter">
  <h4>Quer manter-se a par das criptomoedas?</h4>
  <p>Subscreva a nossa newsletter gratuita e obtenha as notícias, as atualizações e os relatórios mais recentes sobre criptomoedas.</p>
  <div class="email">
    <div class="cont-1">
      <input placeholder="Insira seu E-mail" type="email" id="email">
      <button>
        <span class="circle1"></span>
        <span class="circle2"></span>
        <span class="circle3"></span>
        <span class="circle4"></span>
        <span class="circle5"></span>
        <span class="text">Enviar</span>
    </button>
    </div>
  </div>
</div>

<hr class="solid-3">

<div class="copy">
  <p>© 2024 CriptoTrack. All Rights Reserved.</p>
</div>
</section>