@media only screen and (max-width: 767px) {
  *{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}

#cont-0 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about p {
    margin-bottom: 5px;
}

.about {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.price-bar {
    margin-top: 10px;
    height: 10px;
    width: 330px;
    border-radius: 30px;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(52,198,0,1) 50%, rgba(209,255,0,1) 100%);
}

#cont-1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

#cont-2 {
    margin: 10px 0 20px 10px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.lineUp {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}