<section class="lineUp" id="cont-0">
    <section id="cont-1">
        <h3>Bitcoin</h3>
        <h4>Preço de BTC</h4>
        <h2>US$ 51.818,94</h2>
        <h4>↑ 0.3%</h4>
        <h6>1,0000 BTC</h6>
    </section>
    
    <div class="price-bar"></div>
    
    <section id="cont-2">
        <h5>US$ 51.307,84</h5>
        <h5>Intervalo de 24h</h5>
        <h5>US$ 51.818,94</h5>
    </section>
    
    <div class="about">
        <h3>Sobre Bitcoin</h3>
        <h4>Sigla: BTC</h4>
        <h4>Tipo: Criptomoeda</h4>
    
        <p>O Bitcoin surgiu em 2008 como uma resposta à crise financeira, com a ideia de substituir o dinheiro físico que usamos e, principalmente, tirar a necessidade de intermediação dos bancos nas operações financeiras.</p>
        <p>A criptomoeda apareceu pela primeira vez em um artigo publicado por Satoshi Nakamoto, um pseudônimo que até hoje não se sabe se é uma pessoa ou um grupo de pessoas. O texto descrevia como funcionava esta moeda<br> digital e criava o sistema que posteriormente passou a ser chamado de “blockchain”, que é como um livro-razão que registra todas as operações.</p>
        <p>Seu uso foi pensado para ser exatamente uma moeda digital, usada para realizar compras e fazer transações de forma segura, anônima e com rapidez. Apesar disso, diante de sua forte volatilidade e aumento de valor, se<br> tornou um investimento de alto risco, sendo considerados por muitos especialistas também uma reserva de valor, como o ouro.</p>
    </div>
</section>