<section id="cont-0" class="lineUp">
    <h2>Faça o login para rastrear facilmente sua moeda favorita 🚀</h2>
    <h4>Ao continuar, você concorda com os Termos de Serviço da Cripto Track.</h4>

    <div class="inputs">
        <label>Email:</label>
        <input type="email" required id="email" class="text-input" placeholder="Insira seu Email...">
    
        <label>Palavra-passe:</label>
        <input type="password" required id="password" class="text-input" placeholder="Insira sua Palavra-passe...">
    
        <a href="#" class="lost-passaword">Esqueceu a sua palavra-passe?</a>
    
        <div class="cont-1">
            <input id="button" type="submit">
        </div>
    </div>

    <div class="terminal-loader">
        <div class="terminal-header">
          <div class="terminal-title">Desenvolvido por</div>
          <div class="terminal-controls">
            <div class="control close"></div>
            <div class="control minimize"></div>
            <div class="control maximize"></div>
          </div>
        </div>
        <div class="text">G Nakamura...</div>
      </div>
      
</section>